<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
    <div class="ui inverted link list">
        <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>
    </div>
</div>
