<div class="twelve wide column">
    <a href="{{ path('sylius_shop_homepage') }}" style="display: inline-block; text-align: center;">
        <img class="ui fluid image" style="max-width: 170px;" src="{{ asset('build/shop/logo-alt.png', 'shop') }}" alt="{{ sylius.channel.name }}">
    </a>
</div>
